body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  text-align: center;
  padding: 30px;
}

.square-photo {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
